body {background-color: #fcf7fd;}
body {color: black}
img#Heart-Image{
  width: 43%;
  height: 45%;
}
img#UnhealthyHeart-Image{
  width: 40%;
  height: 45%;
}

navbar {
  display: flex;
  gap: 90px;
}

navbar_2 {
  display: flex;
  gap: 738px;
}

a {
  text-decoration: none;
  color: black;
}

#title-banner {
  border: 2px solid #2731b9;
  background-image: url(Banner.jpg);
}
#heart-images-container {
  display: flex;
  gap: 250px;
}
